*{
    font-family: 'Mulish', sans-serif;
}

/* Navbar and logo style */

header{
    margin-left: 135px;
    margin-right: 135px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav  h3{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #131313;
    font-size: 1 rem;
    font-weight: 400;
}

.site-title{
    color: #39A7FF;
}

.banner{
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 70%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    border-radius: 16px;   
}

.banner-content{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title{
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 105px;
    margin-bottom: 0px;
}

.banner-description{
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 0px;
}

.banner-form{
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 45px;
}

.banner-form input[type=text], .form-btn {
    border: none;
    padding: 15px;
    border-radius: 8px;
} 

.form-btn{
    color: #fff;
    background-color: #5FBDFF
}


/* popular section style */
.popular{
    margin: 100px 135px;
    display: flex;
    justify-content: space-around;
}

.popular-content{
    margin-right: 50px;
    padding: 30px;
}

.popular-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0px;
}

.popular-description, .popular-list{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1 rem;
    font-weight: 400;
}

.popular-description{
    margin-bottom: 25px;
}

ul >li{
    margin-bottom: 25px;
}

.popular-btn{
    border: 0px;
    border-radius: 8px;
    padding: 10px 30px;
    color: #fff;
    background-color: #39A7FF;
    font-weight: 600;
    cursor: pointer;
}


/* Style of destination section */

.destination{
    margin: 0 135px;
}

.destination-content{
    text-align: center;
}
.destination-title{
    margin-top: 0px;
    color: #131313;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-details{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.destination-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
    margin: 20px;
}

.destination-image-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 40px;
    margin: 20px;
}

.destination-image-three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
    margin: 20px;
}

.img-1, .img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.img-8{
    position: relative;
}

.img-text-1,.img-text-2,.img-text-3,.img-text-4,.img-text-5,.img-text-6,.img-text-7,.img-text-8{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 45%;
    font: 400;
    transform: translate(-40%,-40%);
    font-size: 1.5rem;
}
/* .img-1{
    width: 100%;
    padding: ;
    background-image: url('../images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */



/* chose section style */
.chose-section{
    margin: 100px 135px;
}

.chose-content{
    text-align: center;
}
.chose-title{
    margin-top: 0px;
    color: #131313;
    font-size: 2.5rem;
    font-weight: 800;
}

.chose-details{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.chose-card{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,2fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-one{
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid #FFEED9;
    padding: 30px;
    border-radius: 16px;
}

.card-two{
    background-color: #E0F4FF;
    border: 1px solid #39A7FF;
    padding: 30px;
    border-radius: 16px;
}

.card-three{
    background-color: #EEF5FF;
    border: 1px solid #3D3B40;
    padding: 30px;
    border-radius: 16px;
}

.card-content{
    margin-left: 20px;
}

.chose-card img{
    width: 64px;
    height: 64px;
}

.card-content .card-title{
    color: #131313;
    font: 1.8rem;
    font-weight: 800;
}

.card-content .card-details{
    color: #5a5a5d;
    font-size: 1rem;
    font-weight: 400;
}





/* newsletter style section */
.newsletter{
    margin: 100px 135px;
}

.newsletter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-form{
    border: 2px solid #39A7FF;
    border-radius: 16px;
    padding: 35px 50px;
}

.newsletter-title{
    color: #131313;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.newsletter-details{
    width: 350px;
    margin-top: 16px;
    margin-bottom: 25px;
    color: #5a5a5d;
    font-size: 1rem;
    font-weight: 400;
}
.hr-line{
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 25px;
}

.form-section form{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.form-section input[type=text], input[type=email], input[type=button]{
    padding: 15px;
    margin: 10px 0px;
    border: 0px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

input[type=button]{
    color: #fff;
    background-color: #5FBDFF;
    font-size: 20px;
    font-weight: 800;
}
.form-background{
    position: relative;
}
.save-content{
    width: 280px;
    height: 100px;
    color: #fff;
    border-radius: 16px;
    background-color: #39A7FF;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 56%;
    transform: rotate(-20deg);
}

/* .save-content .save-site{
    margin-bottom: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.save-content .save-discount{
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
} */


/* footer section style */
footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-title{
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-title >img{
    width: 45px;
    height: 45px;
}
.footer-paragraph{
    width: 770px;
    color: #5a5a5d;
    font-size: 1 rem;
    font-weight: 400;
}

/* Mobile Responsive Section */

@media only screen and (max-width: 600px)  {

    /* header and navbar responsive */
    header{
        margin: 0px;
    }

    nav{
        display: none;
    }
    .banner{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 70%), url('../images/Group\ 13\ \(1\)\ \(1\).png');        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-radius: 16px;   
         
    }

    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-form{
        background-color: rgba(255, 255, 255, 0.30);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 15px;
        margin-top: 40px;
    }

    .banner-form input[type=text], input[type=button]{
        width: 70%;
        border: none;
        padding: 15px;
        border-radius: 8px;
        margin-top: 20px;
    } 

    .banner-title{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: 105px;
        margin-bottom: 0px;
    }

    .banner-description{
        font-size: 14px;
        margin: 0 20px;
    }

    .form-btn{
        width: 78%;
        margin-top: 20px;
    }


    /* Popular section responsive */
    .popular{
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* destination section responsive */

    .destination{
        border: 1px solid blue;
        margin: 100px 0px;
        display: flex;
        flex-direction: column;
    }
    
    .destination-image,
    .destination-image-two,
    .destination-image-three
    {
        display: flex;
        flex-direction: column;
    }

    .img-1, .img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.img-8
    {
        display: flex;
        flex-direction: column;
    }

    /* newsletter section design */
    .newsletter{
        margin: 0px 0px;
    }

    .newsletter-content{
        display: flex;
        flex-direction: column;
    }

    
}